{% extends 'core/layout.html' %}
{% load i18n %}

{% block title %}{% trans 'Reset Password' %}{% endblock %}

{% block content %}
{# Translators: Page title #}
<h1>{% trans 'Reset Password' %}</h1>
<div class="box">
{% if validlink %}
<form method="post" action="#">
{% csrf_token %}
<table>
  {{ form.as_table }}
  {# Traslators: Link/submit button caption #}
  <tr><td>&nbsp;</td><td><input type="submit" value="{% trans 'Submit' %}"/></td></tr>
</table>
</form>
{% else %}
<p>{% trans 'Your password reset link is not valid.' %}</p>
{% endif %}
</div>
{% endblock %}
