{% extends 'core/layout.html' %}
{% load i18n %}
{% load sciswarm %}

{% block title %}{% trans 'Delete Citation' %}{% endblock %}

{% block content %}
<h1>{% trans 'Delete Citation' %}</h1>
<div class="box">
<table class="form">
<tr><th>{% trans 'Identifier:' %}</th><td>{{ object|html }}</td></tr>
{% if object.target is not None %}<tr><th>{% trans 'Paper:' %}</th><td>{{ object.target|object_link }}</td></tr>{% endif %}
</table>
</div>
<h2>{% trans 'Do you really want to delete this citation?' %}</h2>
<form method="post" action="?">
{% csrf_token %}
<p><input type="submit" value="{% trans 'Delete' %}"/></p>
</form>
{% endblock %}
