{% extends 'core/layout.html' %}
{% load i18n %}
{% load sciswarm %}

{% block title %}{% trans 'Delete Paper Author' %}{% endblock %}

{% block content %}
<h1>{% trans 'Delete Paper Author' %}</h1>
<div class="box">
<table class="form">
<tr><th>{% trans 'Identifier:' %}</th><td>{{ object|html }}</td></tr>
{% if object.author_alias.target is not None %}<tr><th>{% trans 'User:' %}</th><td>{{ object.author_alias.target|object_link }}</td></tr>{% endif %}
<tr><th>{% trans 'Status:' %}</th><td>{{ object.status }}</td></tr>
</table>
</div>
<h2>{% trans 'Do you really want to delete this author?' %}</h2>
<form method="post" action="?">
{% csrf_token %}
<p><input type="submit" value="{% trans 'Delete' %}"/></p>
</form>
{% endblock %}
