{% extends 'core/layout.html' %}
{% load static %}
{% load i18n %}
{% load sciswarm %}

{% block title %}{{ object.full_name }}{% endblock %}

{% block content %}
<h1>{{ object.full_name }}</h1>
{{ navbar }}
<div class="box">
{{ object.bio|linebreaks }}
</div>

<h2>{% trans 'Identifiers' %}{% if request.user == object %} <a href="{% url 'core:add_user_identifier' %}"><img src="{% static 'img/create.png' %}" alt="{% trans '(add)' %}"/></a>{% endif %}</h2>
<div class="box">
<ul>
{% for item in alias_list %}<li>{{ item|html }}{% if request.user == object and item.is_deletable %} <a href="{% url 'core:unlink_user_identifier' pk=item.pk %}"><img src="{% static 'img/delete.png' %}" alt="{% trans '(delete)' %}"/></a>{% endif %}</li>
{% endfor %}
</ul>
</div>
{% endblock %}
