{% extends 'core/layout.html' %}
{% load i18n %}
{% load sciswarm %}

{% block title %}{% trans 'Manage Authorship' %}{% endblock %}

{% block content %}
<h1>{% trans 'Manage Authorship' %}</h1>
{{ navbar }}
<div class="box">
{% if form.paper_fields %}
{% if form.non_field_errors %}
<div class="error">{{ form.non_field_errors }}</div>
{% endif %}
<form method="post" action="#">
{% csrf_token %}
<table class="form">
  {% for object, author_list, author_names, fieldname in object_list %}
  <tr class="list_item"><td><div class="paper_title">{{ object|object_link }}</div>
{% if author_list or author_names %}<div class="authors">{% for item in author_list %}{{ item.target_link }}{% if author_names or not forloop.last %}; {% endif %}{% endfor %}{% for item in author_names %}{{ item }}{% if not forloop.last %}; {% endif %}{% endfor %}</div>{% endif %}</td><td>{{ form|getattr:fieldname }}</td></tr>
  {% endfor %}
  <tr><td colspan="2">{{ form.submit_buttons }}</td></tr>
</table>
</form>
{% else %}
<p>{% trans 'No papers awaiting authorship confirmation have been found.' %}</p>
{% endif %}
</div>
{{ paginator }}
{% endblock %}
