{% extends 'core/layout.html' %}
{% load static %}
{% load i18n %}
{% load sciswarm %}

{% block title %}{{ object.full_name }}{% endblock %}

{% block content %}
<h1>{{ object.full_name }}</h1>
{{ navbar }}
{% if delegated_permissions %}<div class="box highlight"><p>{% trans 'This user has permission to edit all your articles.' %}</p></div>{% endif %}
<div class="box">
{{ object.bio|linebreaks }}
</div>

{% if subscribe_form is not None %}
<form action="{% url 'core:person_feed_subscribe' username=object.username %}" method="post">
{% csrf_token %}
<div class="box">
<h2>{% trans 'Subscribe' %}</h2>
{% for field in subscribe_form.visible_fields %}
<div>{{ field }} {{ field.label_tag }}</div>
{% endfor %}
<div><input type="submit" value="{% trans 'Save' %}"/></div>
</div>
</form>
{% endif %}

<h2>{% trans 'Identifiers' %}{% if edit_access %} <a href="{% url 'core:add_person_identifier' %}"><img src="{% static 'img/create.png' %}" alt="{% trans '(add)' %}"/></a>{% endif %}</h2>
<div class="box">
<ul>
{% for item in alias_list %}<li>{{ item|html }}{% if edit_access and item.is_deletable %} <a href="{% url 'core:unlink_person_identifier' pk=item.pk %}"><img src="{% static 'img/delete.png' %}" alt="{% trans '(delete)' %}"/></a>{% endif %}</li>
{% endfor %}
</ul>
</div>
{% endblock %}
