{% extends 'core/email/layout.html' %}
{% load i18n %}
{% load sciswarm %}

{% block content %}
<h1>{% trans 'Password Reset Confirmation' %}</h1>
<div class="box">
{% full_url 'core:password_reset_confirm' as finish_url %}
<p>{% blocktrans with username=user.username url_uid=uid|urlencode url_token=token|urlencode %}Somebody has requested password reset for your Sciswarm account “{{ username }}”. If that was you, <a href="{{ finish_url }}?ref={{ url_uid }}&token={{ url_token }}">click here</a> to reset your password. Otherwise simply delete this e-mail.{% endblocktrans %}</p>
</div>
{% endblock %}

{% block footer %}{% endblock %}
