{% extends 'core/layout.html' %}
{% load i18n %}

{% block title %}{% trans 'Create Account' %}{% endblock %}

{% block content %}
<h1>{% trans 'Create Account' %}</h1>
<div class="box">
{% blocktrans %}Your e-mail address will be used as one of your unique identifiers in the system. Please do not use an address like director@institution.org that you will eventually pass to somebody else.{% endblocktrans %}
</div>
<div class="box">
<form method="post" action="?">
{% csrf_token %}
<table class="form">
  {{ form.as_table }}
  {% url 'core:infopage' pagename='terms' as terms_url %}
  <tr><td colspan="2">{% blocktrans %}By clicking the &#8220;Register&#8221; button, you confirm that you have read and agree to our <a href="{{ terms_url }}">Terms of Service</a>.{% endblocktrans %}</td></tr>
  {# Traslators: Link/submit button caption #}
  <tr><td>&nbsp;</td><td><input type="submit" value="{% trans 'Register' %}"/></td></tr>
</table>
</form>
</div>
{% endblock %}
