{% extends 'core/layout.html' %}
{% load i18n %}
{% load sciswarm %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<h1>{{ page_title }}</h1>
{{ navbar }}
<div class="box">
{% for object in object_list %}
<div class="list_item">
<div>{{ object.posted_by|object_link:_('Deleted user') }} {{ object.date_posted }}{% if user_person == object.posted_by and user_person is not None %} <a href="{% url 'core:edit_paperreview' pk=object.pk %}">{% trans '(Edit)' %}</a> <a href="{% url 'core:delete_paperreview' pk=object.pk %}">{% trans '(Delete)' %}</a>{% endif %}{% if user_person is not None %}{% if is_paper_author or user_person == object.posted_by %} <a href="{% url 'core:create_paperreviewresponse_main' pk=object.pk %}">{% trans '(Reply)' %}</a>{% endif %}{% endif %}</div>
<div>{% blocktrans with methodology=object.get_methodology_display importance=object.get_importance_display %}Methodology: {{ methodology }}; Importance: {{ importance }}{% endblocktrans %}</div>
<div>{{ object.message|linebreaks }}</div>
<div><a href="{{ object.get_absolute_url }}">{% blocktrans count counter=object.response_count %}{{ counter }} response{% plural %}{{ counter }} responses{% endblocktrans %}</a></div>
</div>
{% empty %}
<div>{% trans 'No reviews found.' %}</div>
{% endfor %}
{{ paginator }}
</div>
{% endblock %}
