{% extends 'core/layout.html' %}
{% load i18n %}
{% load sciswarm %}

{% block title %}{% trans 'Paper Review And Replies' %}{% endblock %}

{% block content %}
<h1>{% trans 'Paper Review And Replies' %}</h1>
{{ navbar }}
<div class="list_item">
<div>{{ object.posted_by|object_link:_('Deleted user') }} {{ object.date_posted }}{% if user_person == object.posted_by and user_person is not None %} <a href="{% url 'core:edit_paperreview' pk=object.pk %}">{% trans '(Edit)' %}</a> <a href="{% url 'core:delete_paperreview' pk=object.pk %}">{% trans '(Delete)' %}</a>{% endif %}{% if reply_access %} <a href="{% url 'core:create_paperreviewresponse_main' pk=object.pk %}">{% trans '(Reply)' %}</a>{% endif %}</div>
<div>{% blocktrans with methodology=object.get_methodology_html importance=object.get_importance_html %}Methodology: {{ methodology }}; Importance: {{ importance }}{% endblocktrans %}</div>
<div>{{ object.message|linebreaks }}</div>
</div>
<div class="box">
{% for item in response_list %}
<div class="list_item">
<div>{{ item.posted_by|object_link:_('Deleted user') }} {{ item.date_posted }}{% if user_person == item.posted_by and user_person is not None %} <a href="{% url 'core:edit_paperreviewresponse' pk=item.pk %}">{% trans '(Edit)' %}</a> <a href="{% url 'core:delete_paperreviewresponse' pk=item.pk %}">{% trans '(Delete)' %}</a>{% endif %}{% if reply_access %} <a href="{% url 'core:create_paperreviewresponse_sub' pk=item.pk %}">{% trans '(Reply)' %}</a>{% endif %}</div>
<div>{{ item.message|linebreaks }}</div>
</div>
{% endfor %}
</div>
{{ paginator }}
{% endblock %}
