* {
	box-sizing: border-box;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
	font-size: 11pt;
	color: #333333;
	line-height: 1.4;
	margin: 0;
	padding: 0;
	background-color: white;
}

thead td, th {
	font-weight: bold;
}

td, th {
	text-align: left;
	padding: 5px;
}

table {
	border-collapse: collapse;
	margin-bottom: 1em;
}

table.form {
	width: 100%;
}

table.form th {
	width: 12em;
}

table.list th, table.list td {
	border: 1px solid #ccccff;
}

table.search th, table.search td {
	border: 1px solid #ccccff;
}

input[type="text"], input[type="number"], input[type="url"], input[type="password"], input[type="email"] {
	padding-top: 8px;
	padding-bottom: 8px;
	max-width: 30em;
	width: 100%;
}

select, input {
	margin-right: 1ex;
}

textarea {
	width: 100%;
}

#header {
	background-color: #ddddff;
	overflow: auto;
	padding: 1em;
}

#header .userinfo {
	float: right;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3.5em;
	padding: 1em;
	background-color: #f7f7ff;
}

#footer-margin {
	clear: both;
	margin-bottom: 5em;
}

#body {
	display: table;
	border-spacing: 5px;
	width: 100%;
	vertical-align: top;
}

#left-sidebar {
	width: 16em;
	min-width: 16em;
	margin: 5px;
	float: left;
}

#left-sidebar + #main {
	margin-left: 17em;
}

#main {
	margin-right: 1em;
}

#content {
	padding: 1em;
}

.wrapper {
	margin-left: auto;
	margin-right: auto;
}

.sidebar {
	margin: 5px;
}

.menu {
	margin: 5px;
	border: 1px solid #ccccff;
	padding-left: 0px;
	border-radius: 5px;
	background-color: #f7f7ff;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 5px;
	padding-bottom: 5px;
}

.menu_group {
	font-weight: bold;
}

.menu_item {
	padding-left: 1em;
}

.navbar {
	margin-bottom: 1em;
}

.errorlist, .error {
	font-weight: bold;
	color: red;
}

.pull-left {
	float: left;
}

.title {
	font-size: 150%;
}

.paper_title {
	font-size: 110%;
	font-weight: bold;
}

.list_item {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted black;
}

.list_item .authors {
	padding-left: 1em;
}

.highlight {
	font-weight: bold;
}

span.author.rejected {
	text-decoration: line-through;
}

span.author.unconfirmed {
	background-color: yellow;
}
